<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="import" href="/visor-cuenta/visor-cuenta.html"> -->
<dom-module id="alta-usu">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h3> Rellenar datos necesarios para dar de alta el usuario</h3>
    <input type="first_name" placeholder="Nombre"  value="{{first_name::input}}"/>
    <input type="last_name" placeholder="Apellido"  value="{{last_name::input}}"/>
    <input type="first_name" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <input type="sexo" placeholder="sexo" value="{{gender::input}}"/>
    <span hidden$="{{!altadded}}">
      <h1> Alta ok </h1>
      <br>
      <button class="btn btn-info" on-click="Continue">Continuar</button>
    </span>
    <br><br>
    <span hidden$="{{altadded}}">
       <button class="btn btn-info" on-click="AltaNuevoUsuario">Nuevo usuario</button>
    </span>
    <iron-ajax
        id="doNew"
        method="POST"
        url="http://localhost:3000/apitechu/v2/users/altausu"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsu extends Polymer.Element {
      static get is() { return 'alta-usu'; }
      static get properties() {
        return {
          id: {
            type: Number
          },first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          },gender: {
            type: String
          },
          altadded:{
            type: Boolean,
            value: false //porque si damos de alta está dentro
          }
        };

      }

      AltaNuevoUsuario()
      {
        console.log("Pulsado botón crear. Dando alta.")
        var Data ={
          "email":this.email,
          "password":this.password,
          "first_name":this.first_name,
          "last_name":this.last_name,
          "gender":this.gender
        };
        this.$.doNew.body = JSON.stringify(Data);
        this.$.doNew.generateRequest();
        console.log("enviamos peti para crear usu en api");
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data);
        console.log(data.detail.__data.response[0]);
        this.id = data.detail.__data.response.idUsuario;
        console.log(this.id);
        this.altadded = true;
      }
      showError(error){
        console.log("Hubo un error al dar alta");
        console.log(error);
      }
      Continue(){
        console.log("Continuar al menu alta o login usu");
        this.altadded = false;
        //borramos los datos a continuación para los botones
        this.email = "";
        this.password = "";
        this.first_name = "";
        this.last_name = "";
        this.gender = "";
      }
    }
    window.customElements.define(AltaUsu.is, AltaUsu);
  </script>
</dom-module>
