<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuenta/visor-cuenta.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../dato-usu/dato-usu.html">
<dom-module id="login-usu">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <span hidden$="{{logged}}">
      <h3> Intro email y password</h3>
      <input type="email" placeholder="Email" value="{{email::input}}"/>
      <input type="password" placeholder="Password" value="{{password::input}}"/>
      <button class="btn btn-info" on-click="login">Login</button>
      <br> <br> <br> <br>
    </span>
    <span hidden$="{{!logged}}">
      <h3>Login ok     POSICIÓN GLOBAL</h3> <br>
      <dato-usu id={{id}}></dato-usu>
      <visor-cuenta id={{id}}></visor-cuenta>
      <br>
      <button class="btn btn-success" on-click="logout">Logout</button>
    </span>
    <span hidden$={{!errorlogged}}>
       <h3> Error en login</h3>
       <h3> Pulsa botón para continuar</h3>
       <button class="btn btn-success" on-click="continue">Continuar</button>
    <span>

    </span>
    <iron-ajax
        id="doLogin"
        method="POST"
        url="http://localhost:3000/apitechu/v2/login"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>
      <iron-ajax
          id="doLogout"
          method="POST"
          url="http://localhost:3000/apitechu/v2/logout/{{id}}"
          content-type="application/json"
          handle-as="json"
          on-response="manageAJAXResponselogout"
          on-error="showErrorlogout">
        </iron-ajax>
            </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class LoginUsu extends Polymer.Element {
      static get is() { return 'login-usu'; }
      static get properties() {
        return {
          id: {
            type: Number
          },first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }, logged:{
            type: Boolean,
            value: false
          }, errorlogged:{
            type:Boolean,
            value:false
          }
        };

      }
      login(){
        console.log("Botón login pulsado")
        var loginData ={
          "email":this.email,
          "password":this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log(this.$.doLogin.body);
        console.log("Peticion enviada. ");
      }
      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data);
        console.log("respuesta: " + data.detail.__data.response.idUsuario);
        this.logged = true;
        this.errorlogged = false;
        this.id = data.detail.response.idUsuario;
      }
      showError(error){
        console.log("Hubo un error en login");
        this.logged = false;
        this.errorlogged = true;
        console.log(error);
      }

    logout(){ //OJO QUE NO BORRAMOS LO YA CARGADO,  y se queda en las cajitas los valores introducidos anteriormente
      console.log("Botón logout pulsado")
      var logoutData ={
        "id":this.id
      };
      this.$.doLogout.body = JSON.stringify(logoutData);
      this.$.doLogout.generateRequest();
      console.log("Peticion enviada. ");
    }
    manageAJAXResponselogout(data){
      console.log("Respuesta recibida");
      console.log(data);
      console.log("respuesta: " + data.detail.__data.response.idUsuario);
      this.logged = false;
      this.errorlogged = false;
      this.id = null;
      //this.$.doLogin.body = null; //esto acabo de añadir con la intención de borrar los datos
    }
    showErrorlogout(error){
      console.log("Hubo un error en logout");
      this.logged = true; // Revisar este estado
      this.errorlogged = true; // Y este sobre todo
      console.log(error);
    }
    continue(){
      console.log("Error login - continuar");
      this.logged = false; // Revisar este estado
      this.errorlogged = false; // Y este sobre todo
     }
    }
    window.customElements.define(LoginUsu.is, LoginUsu);
  </script>
</dom-module>
