<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="import" href="/visor-cuenta/visor-cuenta.html"> -->
<dom-module id="transferencia">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h3> Rellenar datos necesarios para dar de alta el usuario</h3>
    <input type="Iban_destino" placeholder="Iban destino"  value="{{Iban_destino::input}}"/>
    <input type="concepto" placeholder="Concepto"  value="{{concepto::input}}"/>
    <input type="cantidad" placeholder="Cantidad" value="{{cantidad::input}}"/>
     this.Iban_origen = {{Iban}} ;
     this.fecha = funcionquemedalafecha();
       <!--He de pasar el iban de la llamada que es el orígen para pasarlo a la api  -->
    <span hidden$="{{!transferido}}">
      <h1> Transferencia ok </h1>
      <br>
      <button class="btn btn-info" on-click="Continue">Continuar</button>
    </span>
    <br><br>
    <span hidden$="{{transferido}}">
       <button class="btn btn-info" on-click="Transferir">OK Transferencia</button>
    </span>
    <!-- iron ajax que hace la transferencia -->
    <iron-ajax
        id="doTx"
        method="POST"
        url="http://localhost:3000/apitechu/v2/users/transferir"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>
      <!-- Iron ajax para verificar si hay saldo -->
      <iron-ajax
        id="versaldo"
        method="GET"
        url="http://localhost:3000/apitechu/v2/users/saldo"
        handle-as="json"
        on-response="handleResponse"
        on-error="nohaysaldo"
      </iron-ajax>


    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Transferencia extends Polymer.Element {
      static get is() { return 'Transferencia'; }
      static get properties() {
        return {
          Iban_origen: {
            type: String
          },Iban_destino: {
            type: String
          }, fecha: {
            type: String
          }, concepto: {
            type: String
          }, cantidad: {
            type: Number
          },
          transferido:{
            type: Boolean,
            value: false //para visualizar el botón continuar
          }, saldoactual: {
            type: Number
          }
        };

      }

      Transferir()
      {
        console.log("Pulsado botón transferencia")
        var Data ={
          "Iban_origen":this.Iban_origen,
          "Iban_destino":this.Iban_destino,
          "fecha":this.fecha, // OJOOOO si la fecha no ha sido capturada arriba, debe hacerse aquí.
          "concepto":this.concepto,
          "cantidad":this.cantidad
        };


        this.saldoactual = this.$.versaldo.__data.balance;
        console.log(this.saldoactual);
        if (this.cantidad > this.saldoactual){
          console.log("Error, saldo insuficiente");
        }else {
          console.log("Enviamos datos para transferencia");
          //hacemos transferencia
          this.$.doTx.body = JSON.stringify(Data);
          this.$.doTx.generateRequest();
          console.log("Transferencia enviada a la api");
          console.log(this.$.doTx.body);
      }
    }

      manageAJAXResponse(data){
        console.log("Respuesta de Tx recibida");
        console.log(data);
        console.log(data.detail.__data.response[0]);
        //this.id = data.detail.__data.response.idUsuario;
        //Ya veremos que devolvemos
        //console.log(this.id);
        this.transferido = true;
      }
      showError(error){
        console.log("Hubo un error en la TX");
        console.log(error);
      }
      Continue(){
        console.log("Continuar post Tx");
        this.transferido = false;
        //borramos los datos a continuación para los botones
        this.Iban_origen = "";
        this.Iban_destino = "";
        this.fecha = "";
        this.concepto = "";
        this.cantidad = "";
      }
    }
    window.customElements.define(Transferencia.is, Transferencia);
  </script>
</dom-module>
