<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="visor-mvtos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <template is="dom-repeat" items="{{movto}}">
        <h3>  {{item.fecha}} - {{item.concepto}} - {{item.cantidad}} </h3>
    </template>
    <span hidden$="{{!sierrmvtos}}">
      <h3>No existen movimientos en la cuenta</h3>
      <!-- <button class="btn btn-info" on-click="continuar">Continuar</button> -->
    </span>

      <iron-ajax
            id="getMvtos" auto=""
            url="http://localhost:3000/apitechu/v2/users/{{id}}/mvtos"
            handle-as="json"
            on-response="mostrar"
            on-error="errormvtos"/>
  </template>
  <script>
  //var "id" : String;
  class VisorMvtos extends Polymer.Element {
    static get is() { return 'visor-mvtos'; }
    static get properties() {
      return {
        Iban: {
          type: String,
          observer: "_idObserver"
        }, movto:{
          type:Array
        }, sierrmvtos:{
          type:Boolean, value:true
        }

      };
    }
    /*_idObserver(Iban){
      console.log("paso y observo")
      console.log(this.Iban)
      if (this.Iban == "")
      {
        console.log("paso vacio")
      } else {
         console.log("paso lleno")
         this.$.getMvtos.generateRequest()
      }

    }*/
    mostrar(data)
    {
      console.log("paso por mostrar")
      this.movto = data.detail.response
      this.sierrmvtos = false;
      console.log(this.movto)
    }
    errormvtos(error){
      this.movto = "";//con esto lo borramos para si se vuelve a elegir mostrar mvtos
      this.sierrmvtos = true;
      console.log("No existen movimientos");
      console.log(error);
    }
    continuar(){
      this.sierrmvtos = false;
    }
  }
  window.customElements.define(VisorMvtos.is, VisorMvtos);
  </script>
</dom-module>
