<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../visor-mvtos/visor-mvtos.html">
<link rel ="import" href = "../../bower_components/paper-button/paper-button.html">
<link rel = "import" href = "../../bower_components/paper-styles/paper-styles.html">
<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h3>Posición Global</h3>
    <template is="dom-repeat" items="{{accounts}}" id="Listacuentas">
      <span hidden$="{{mostrarmvtos}}">
        <h2>Cuenta Iban - {{item.Iban}}</h2>
        <h2>Saldo - {{item.balance}}</h2>
        <button class="btn btn-info" on-click="Movimientos">Ver Movimientos</button>
        <button class="btn btn-info" on-click="Transferir">Hacer Transferencia</button>
      </span>
     <br> <br>
     </template>

    <span hidden$="{{!mostrarmvtos}}">
      <button class="btn btn-info" on-click="Ocultar">Volver</button>
      <h3> Movimientos de la cuenta {{Iban}}</h3>
      <visor-mvtos id="{{Iban}}"></visor-mvtos>
    </span>
    <span hidden$="{{!hacertx}}">
      <h3> Rellenar datos necesarios para la transferencia</h3>
      <input name="Iban_destino" type="text" placeholder="Iban destino"  value="{{Iban_destino::input}}"/>
      <input name="concepto" type="text" placeholder="Concepto"  value="{{concepto::input}}"/>
      <input name="cantidad" type="number" placeholder="Cantidad" value="{{cantidad::input}}"/>
      <button class="btn btn-info" on-click="MakeTx">OK</button>
      <span hidden$="{{!txhecha}}">
        <h3> Pulsa para continuar </h3>
        <button class="btn btn-info" on-click="Ocultar2">Volver</button>
      </span>
    </span>
      <iron-ajax
        id="doTx"
        method="POST"
        url="http://localhost:3000/apitechu/v2/users/transferir"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>
    <!-- <visor-mvtos id={{Iban}}></visor-mvtos> -->
     <iron-ajax auto=""
        id="getAccount"
        url="http://localhost:3000/apitechu/v2/users/{{id}}/account"
        handle-as="json"
        on-response="showData"
      </iron-ajax>
      <iron-ajax
        id="Getsaldo"
        method="POST"
        url="http://localhost:3000/apitechu/v2/users/saldo/{{Iban}}"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXSaldo"
        on-error="showErrorsaldo">
      </iron-ajax>
      <iron-ajax
        id="Ponersaldo"
        method="POST"
        url="http://localhost:3000/apitechu/v2/users/ponersaldo"
        content-type="application/json"
        handle-as="json"
        on-response="apuntasaldo"
        on-error="showErrorapunta"
      </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          id: { type: Number },
          Iban: { type: String },
          balance: { type: Number },
          Iban_destino: { type: String },
          cantidad: { type:Number },
          concepto: { type:String },
          accounts: { type: Array },
          saldoorigen: { type: Number },
          saldofinal: { type: Number },
          mostrarmvtos: { type: Boolean, value:false },
          hacertx: { type: Boolean, value: false },
          txhecha: {type: Boolean, value: false}
        };

      }
      showData(data) { //cargamos los datos de la cuenta orígen donde nos encontramos
        this.accounts = data.detail.response;
        console.log("datos de la cuenta " + this.accounts);
        }
      Movimientos(e){
        console.log("mostrando movimientos");
        console.log(e);
        console.log(e.model.__data.item.Iban);
        //traemos con un evento los movimientos de la cuenta
        this.dispatchEvent(
          new CustomEvent ("movimiento-cta", {
            "detail":{
              "Iban":e.model.__data.item.Iban
              }
          })
        );
        this.Iban = e.model.__data.item.Iban;
        this.mostrarmvtos = true;
      }
      Transferir(g) { //viene del botón de hacer transferencia
        //evento que se trae el saldo de la cuenta orígen para luego restarle y actualizarlo
        this.dispatchEvent(
          new CustomEvent ("saldo-cta", {
            "detail":{ "balance":g.model.__data.item.balance}
          })
        );
        console.log(" g ....balance " + g.model.__data.item.balance );
        this.saldoorigen = g.model.__data.item.balance;
        console.log("saldoorigen " + this.saldoorigen );
          //la ste.linea creo que deberia ser en el ajaxresponse pero....
          //this.saldofinal = data.detail.__data.response.balance;
          console.log("Peticion enviada. ");

          this.hacertx = true;
      }
      Ocultar(){
        console.log("ocultando movimientos");
        //this.Iban=" ";
        this.mostrarmvtos = false;
      }
      Ocultar2(){
        console.log("ocultando transferencia");
        //this.Iban=" ";
        this.Iban = "";
        this.Iban_destino = "";
        this.fecha = "";
        this.concepto = "";
        this.cantidad = 0;
        this.hacertx = false;
        this.txhecha = false;

      }
      MakeTx(){
        //Cargamos datos para hacer la transferencia
        //var saldoorigen = this.$.mostrarvtos[this.Iban].cantidad;
        console.log("maketx....");
        this.saldofinal = 0;
        this.cantidad = parseInt(this.cantidad);
        console.log (" saldo orígen: " + this.saldoorigen );
        console.log(" cantidad a transferir " + this.cantidad );
        //para obtener el saldo de la cuenta destino
        var obtnsdodest ={
            "Iban": this.Iban_destino
          };
          this.$.Getsaldo.body = JSON.stringify(obtnsdodest);
          this.$.Getsaldo.generateRequest();
        //////// */
        if (this.saldoorigen < this.cantidad) {
          console.log("Imposible transferir. Insuficiente saldo")
        }else { // Construimos el JSON e invocamos a la transferencia
          console.log("pasamos los datos al formulario");
          console.log("Iban orígen " + this.Iban);
          var Data ={
            "Iban_origen":this.Iban,
            "Iban_destino":this.Iban_destino,
            "fecha":"22/05/2018",
            "concepto":this.concepto,
            "cantidad":this.cantidad
          };
          console.log(Data);
          //las 2 siguientes instrucciones marcan los 2 mvtos de cada una de las cuentas orígen y destino
          this.$.doTx.body = JSON.stringify(Data);
          this.$.doTx.generateRequest(); //hemos apuntado los 2 movimientos
          console.log("Movimientos anotados para orígen y destino ");
          //aquí me falta actualizar los saldos de la cuenta orígen y la destino
          console.log("saldo actual: " + this.saldoorigen + " a restar: " + this.cantidad );
          this.balance = (this.saldoorigen - this.cantidad);
          console.log("saldo que va quedar en orígen tras la transferencia " + this.balance)
          var Datosaldo = {
           "Iban":this.Iban,
           "balance":this.balance
           };
           //Actualizamos el saldo de la cuenta orígen
          this.$.Ponersaldo.body = JSON.stringify(Datosaldo);
          this.$.Ponersaldo.generateRequest();
          console.log("saldo final actual " + this.saldofinal);
          this.balance = this.saldofinal + this.cantidad;
          console.log("Saldo final en cta destino" + this.balance );
          var Datosaldodestino = {
            "Iban":this.Iban_destino,
            "balance":this.balance
          } // Actualizamos el saldo de la cuenta destino
          this.$.Ponersaldo.body = JSON.stringify(Datosaldodestino);
          this.$.Ponersaldo.generateRequest();

          }
          this.txhecha = true;
        }
        manageAJAXSaldo(data){
          console.log("obtenemos el balance de la cuenta final");
          console.log(data);
          //this.saldofinal = data.detail.response.balance;
          this.saldofinal = 0;
          this.saldofinal = data.detail.__data.response.balance;
          console.log("saldo final en el manageAJAXSaldo " + this.saldofinal);
        }
        showErrorSaldo(error){
          console.log("Error al obtener saldo")
          this.hacertx = false;
          console.log(error);
        }

        manageAJAXResponse(data){
          console.log("Respuesta de Txxxx recibida");
          console.log(data);
          console.log(data.detail.__data.response[0]);
          //this.id = data.detail.__data.response.idUsuario;
          //Ya veremos que devolvemos
          //console.log(this.id);
          this.transferido = true;
        }
        showError(error){
          console.log("Hubo un error en la TX");
          console.log(error);
        }
        Continue(){
          console.log("Continuar post Tx");
          this.transferido = false;
          //borramos los datos a continuación para los botones
          this.Iban_origen = "";
          this.Iban_destino = "";
          this.fecha = "";
          this.concepto = "";
          this.cantidad = "";
        }
        apuntasaldo(data){
          console.log("Saldo puesto ");
          console.log(data);
          console.log(data.detail.__data.response[0]);
          }
        showErrorapunta(error){
          console.log("error grave hablar con el administrador dela cuenta");
          console.log(error);
        }

    }
    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
